{% extends "base_template.html" %}
    {% block content %}
    <div id="adduser" style="border-style:solid;border-color:green;padding: 10px;margin-top:10px;margin-bottom:10px; width: 40%; margin: 0 auto;">
        
    {% block insert_user %}
        <h1 style="text-align: center;">DODAJ KORISNIKA</h1>
        <form method="post">
        <table>
        {{form.as_table}}
        </table>
        <br>
        <input type="submit" value="DODAJ KORISNIKA">
        {% csrf_token %}
    </form>
    <br><button class="btn btn-primary" style="background-color: rgb(255, 118, 118);"><a  href="/administrator/{{admin_data}}/" style="padding: 10px;text-decoration: none;">ODUSTANI</a></button>
    {% if messages %}
    <div class="error-message">
        {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
    </div>
{% endblock %}